<h1>First angular app</h1>
<!--
<app-navbar></app-navbar>
<app-header></app-header>

<h2>{{ title }}</h2>
<p>{{ 1+1 }}</p>
<img [src]="imgURL" [alt]="imgAlt">
-->
<!--
  difference between string interpolation & property binding is that
  string interpolation converts value to string when its loaded in browser
  property binding doesn't convert value to string.
-->
<!--
<div class="container">
  <button disabled="{{isDisabled}}">Disable using string interpolation</button>
  <button [disabled]="isDisabled">Disable using property binding</button>
-->
  <!-- class Binding -->
<!--
  <button
    [class.active]="isActive"
    [class.no-active]="!isActive"
    [class.active-border]="isActive"
    [class.no-active-border]="!isActive"
  >
    Click me
  </button>
</div>

<button [class.apple]="fruitsName === 'apple'">Fruit Ninja</button>
-->
<!--  style binding -->
  <!--
<button
  [style.background]="isActive ? 'red' : 'green'"
  [style.border]="isActive ? '3px solid yellow' : ''"
>Click</button>
-->

<!-- event binding -->
<!--
<button (click)="buttonClick()">Event click</button>
<button (mouseover)="buttonClick()">Mouseover me</button>
<input type="text" (keyup)="keyEnter($event)">
-->

<input type="text" (keyup)="keyupFiltering(user)" #user id="inputUser">

<!-- two way data binding
<input type="text" [value]="userName" #username (keyup.enter)="updateUsername(username)">
-->
<!-- one way data binding -->
<input type="text" value="One way data binding">
<input type="text" [value]="textValue">

<input type="text" [(ngModel)]="textValue">
